.advantages {
  overflow: hidden;

  //min-height: 1000px ;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: @gray;
  box-sizing: border-box;

  @media (min-width: @tablet-width){
    min-height: 725px;
    min-width: 660px;
  }
}

.advantages__header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 220px;
  margin: 0;
  padding: 40px 0 0;

  box-sizing: border-box;
  background-color: @white;

  &::before {
    content: url("../../img/bg-triangle-white.svg");

    position: absolute;
    top: 220px;
    left: -880px;
  }
}

.advantages__slogan {
  display: block;
  min-height: 56px;
  margin: 0;
  padding: 0 20px 29px;
  box-sizing: border-box;

  font-family: "OpenSans-Light", "Arial", "sans-serif";
  font-size: 24px;
  line-height: 29px;
  color: @dark;

  @media (min-width: @desktop-width) {
    min-height: 58px;
    margin: 0;

    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__list {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 475px;
  margin: 0;
  padding-top: 77px;
  padding-left: 0;
  box-sizing: border-box;

  list-style: none;
}

.advantages__item {
  display: block;
  min-height: 110px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.advantages__title {
  margin: 0;
  margin-top: 1px;

  font-family: "OpenSans-Bold", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.advantages__description {
  margin: 0;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;

  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}

.advantages__iphone {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 157px;
  height: 278px;

  background-image: url("../../img/iphone-screen-mobile@1x.png");
}
