.download {
  position: relative;
  top: -71px;

  margin-bottom: -71px;
  padding: 0;

  text-align: center;

  background-color: @very-dark;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: -112px;
    margin-bottom: -112px;
  }

  @media (min-width: @desktop-width) {
    top: -110px;
    margin-bottom: -110px;
  }
}

.download-header__slogan {
  display: block;
  min-height: 467px;
  padding-top: 93px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;

  font-family: "OpenSans-Light";
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: @very-dark;
  box-sizing: border-box;
}

.download-header {
  position: relative;
  min-height: 396px;
}

.download-header__image-mobile {
  position: absolute;
  bottom: 0;

  width: 258px;
  height: 286px;

  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.download-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 271px;
  margin: 0;
}

.device__url {
  display: block;
  width: 281px;
  height: 55px;
  margin: 28px auto;
  padding-top: 14px;

  font-family: "OpenSans-Bold", "Arial", "sans-serif";
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  background-color: @very-dark;
  border: 3px solid #ffffff;
  border-radius: 26px;
  box-sizing: border-box;

  &:hover {
    color: @lipstick;
    background-color: @white;
  }
  &:active {
    color: @lipstick-transparent30;
    background-color: @white;
  }
}

.download__info {
  display: block;
  margin-bottom: 30px;
  padding: 0 20px;

  font-family: "OpenSans-Light", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
