.download {
  position: relative;
  top: -71px;

  margin-bottom: -71px;
  padding: 0;

  text-align: center;

  background-color: @very-dark;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: -112px;
    margin-bottom: -112px;
  }

  @media (min-width: @desktop-width) {
    top: -110px;
    margin-bottom: -110px;
  }
}

.download-header__slogan {
  display: block;
  min-height: 467px;
  padding-top: 93px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;

  font-family: "OpenSans-Light";
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: @very-dark;
  box-sizing: border-box;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 730px;
    padding-top: 203px;
    padding-left: 76px;
    padding-right: 398px;

    font-size: 40px;
    line-height: 48px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: top;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    padding-top: 219px;
    padding-left: 162px;
    padding-right: 800px;

    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.02em;

    background-image: url("../../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }

}

.download-header {
  position: relative;
  min-height: 396px;

  @media (min-width: @desktop-width) {
    min-height: 852px;
  }
}

.download-header__image-mobile {
  position: absolute;
  bottom: 0;

  width: 258px;
  height: 286px;

  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    bottom: 0;
    right: 20px;

    width: 660px;
    height: 545px;

    background-image: url("../../img/iphone-hand-tablet@1x.png");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    bottom: 0;
    right: 4px;

    width: 1050px;
    height: 645px;

    background-image: url("../../img/iphone-hand-desktop@1x.png");

    @media (min-resolution: @retina-dppx){
      background-image: url("../../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 271px;
  margin: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 378px;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    min-height: 245px;
    margin: 0;
  }

  @media (min-width: @desktop-width){
    position: absolute;
    top: 450px;
    left: 130px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 281px;
    margin: 0;
  }
}

.device__url {
  display: block;
  width: 281px;
  height: 55px;
  margin: 28px auto;
  padding-top: 14px;

  font-family: "OpenSans-Bold", "Arial", "sans-serif";
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  background-color: @very-dark;
  border: 3px solid #ffffff;
  border-radius: 26px;
  box-sizing: border-box;

  &:hover {
    color: @lipstick;
    background-color: @white;
  }
  &:active {
    color: @lipstick-transparent30;
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;

    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
}

.download__info {
  display: block;
  margin-bottom: 30px;
  padding: 0 20px;

  font-family: "OpenSans-Light", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 18px;
  }
}
