@bg-dark: #000000;
@bg-light: #ffffff;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@lipstick: #d22856;
@white: #ffffff;
@black: #000000;
@dark: #283645;
@very-dark:  #1d2631;
@light-dark: #485461;
